* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
html {
  scroll-behavior: smooth;
}

body {
  background: rgb(252, 252, 252);
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    'navbar navbar navbar navbar navbar'
    'banner banner banner banner selecteditems'
    'menubar menubar menubar menubar selecteditems'
    'menucontainer menucontainer menucontainer menucontainer selecteditems'
    'footer footer footer footer footer';
}

/* -------------navbar--------------- */
.navbar {
  width: 100vw;
  height: 6vh;
  background: white;
  grid-area: navbar;
  display: flex;
  align-items: center;
  font-size: 20px;
  box-shadow: 0px 3px 3px 0px rgb(230, 230, 230);
  position: sticky;
  top: 0vh;
  z-index: 2;
}

.navbar a {
  height: 6vh;
  padding: 0px 10px 0px 10px;
  margin: 3px 20px 0px 20px;
  display: flex;
  align-items: center;
  color: rgb(255, 0, 119);
  border-bottom: 3px solid transparent;
}

#address a {
  margin-left: 24vw;
}
#selected a {
  cursor: default;
  margin-left: 26vw;
}
#logo {
  text-transform: uppercase;
  font-size: 18px;
}

.navbar div:not(:last-child) a:hover {
  border-bottom: 3px solid rgb(255, 0, 119);
  color: rgb(255, 0, 119);
}
#logo a:hover {
  border-bottom: 3px solid transparent;
  color: rgb(255, 0, 119);
}

/* ----------end navbar--------------- */
/* ----------navbar deliver here modal --------------- */
/* The Modal (background) */
.modal,
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  position: absolute;
  z-index: 3;
  top: -6vh;
  left: 27vw;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 30vw;
}

.modal-content2 {
  position: absolute;
  z-index: 3;
  top: -10vh;
  left: 52vw;
  background-color: #fefefe;
  margin: auto;
  width: 8vw;
  font-size: large;
  text-align: center;
}
.modal-content2 * {
  width: 100%;
  cursor: pointer;
}
.modal-content2 > div:hover {
  background: rgb(199, 199, 199);
}

@keyframes drop {
  to {
    top: 6vh;
  }
}

.modal-content p {
  position: absolute;
  top: 0.7rem;
  left: 1.5rem;
  font-size: 13px;
  background: white;
  color: rgb(99, 99, 99);
}
#textinput {
  width: 80%;
  height: 2rem;
  font-size: 16px;
  border: 1px solid #aaaaaa;
  border-right: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
#submitinput {
  position: absolute;
  width: 10%;
  padding: 5px;
  font-size: 19px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border: none;
  background: rgb(255, 0, 119);
  color: white;
  cursor: pointer;
}
/* The Close Button */

.ok {
  border: none;
  font-size: large;
  background: rgb(255, 0, 119);
  color: white;
  width: 40%;
  display: inline-block;
}
.close,
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  cursor: pointer;
}

.close:hover,
.close2:hover {
  color: #000;
  text-decoration: none;
}
/* ----------end navbar deliver here modal --------------- */

.banner {
  grid-area: banner;
}

img {
  width: 100%;
}

.selecteditems {
  grid-area: selecteditems;
  background: white;
  box-shadow: 0px 0px 3px 3px rgb(230, 230, 230);
  margin-bottom: 2rem;
  z-index: 1;
}
.selecteditems p {
  position: sticky;
  top: 10vh;
  padding-top: 20px;
  min-height: 20vh;
  border: 1px solid gray;
}
/* -------------menubar--------------- */
.menubar {
  grid-area: menubar;
  height: 6vh;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 3px 3px 0px rgb(230, 230, 230);
  font-size: 16px;
  text-transform: uppercase;
  position: sticky;
  top: 6vh;
}

.item a {
  height: 6vh;
  padding: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid transparent;
  color: rgb(255, 0, 119);
}
.item a:hover {
  border-bottom: 3px solid rgb(255, 0, 119);
  color: rgb(255, 0, 119);
}

/* -----------end menubar------------ */

/* -----------menuContainer------------ */

.menuContainer {
  grid-area: menucontainer;
  margin-bottom: 2rem;
}
.linklevel {
  margin-bottom: 8rem;
}
.text {
  font-size: large;
}

.text :first-child {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: black;
  text-align: center;
  letter-spacing: 1px;
}
.text:nth-child(2) {
  max-width: 400px;
  text-align: center;
}

.button button {
  font-size: 1.8rem;
  color: rgb(255, 0, 119);
  background: none;
  border: none;
  cursor: pointer;
  transition: all linear 0.4s;
}
.button button:hover {
  transform: scale(1.3);
}

.menuitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px 0px 20px;
  transition: 0.7s ease;
}

.smaller .image {
  width: 200px;
  padding-top: 4px;
  margin: 0;
}

.smaller .text {
  margin-top: 25px;
}
.smaller .price,
.smaller .button {
  margin-top: 15px;
}

.menuitem:hover {
  box-shadow: 0px 0px 7px 7px rgb(198, 198, 198);
  background: rgb(255, 255, 255);
}
.menuitem div {
  margin-bottom: 2rem;
}
.image {
  width: 300px;
  padding-top: 30px;
}
.title {
  margin-bottom: 2rem;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 0, 119);
}
.title span {
  color: #292929;
}
/* -----------end menuContainer------------ */
/* ----------- selected ------------ */
.box {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 7vh;
}
.selecteditems button {
  font-size: 16px;
  color: rgb(255, 0, 119);
  height: fit-content;
  border: none;
  cursor: pointer;
  display: none;
}

/* -----------end selected ------------ */
/* ----------- footer ------------ */
.footer {
  width: 100vw;
  height: 30vh;
  background: gray;
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* -----------end footer ------------ */
